.iconButton {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.iconButton:hover,
.iconButton:active {
  background-color: #2c0d00;
}

.iconButton .icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.iconButton .badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.iconButton:hover .badge,
.iconButton:active .badge {
  background-color: #92320c;
}

@media screen and (max-width: 450px) {
  .iconButton {
    padding: 0.75rem 1rem;
  }
  .iconButton .badge {
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
    margin-left: 0.5rem;
    font-weight: bold;
  }
  #yourCart{
    font-size: 1rem;
  }
  
}